# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
通讯录管理/Debug/vc142.idb
通讯录管理/Debug/vc142.pdb
通讯录管理/Debug/通讯录管理.exe.recipe
通讯录管理/Debug/通讯录管理.ilk
通讯录管理/Debug/通讯录管理.log
通讯录管理/Debug/通讯录管理.pdb
通讯录管理/Debug/通讯录管理.vcxproj.FileListAbsolute.txt
通讯录管理/Debug/通讯录管理.tlog/CL.command.1.tlog
通讯录管理/Debug/通讯录管理.tlog/CL.read.1.tlog
通讯录管理/Debug/通讯录管理.tlog/CL.write.1.tlog
通讯录管理/Debug/通讯录管理.tlog/link.command.1.tlog
通讯录管理/Debug/通讯录管理.tlog/link.read.1.tlog
通讯录管理/Debug/通讯录管理.tlog/link.write.1.tlog
通讯录管理/Debug/通讯录管理.tlog/通讯录管理.lastbuildstate
通讯录管理/.vs/ProjectSettings.json
通讯录管理/.vs/slnx.sqlite
通讯录管理/.vs/VSWorkspaceState.json
通讯录管理/.vs/通讯录管理/v16/.suo
通讯录管理/.vs/通讯录管理/v16/Browse.VC.db
通讯录管理/.vs/通讯录管理/v16/Browse.VC.db-shm
通讯录管理/.vs/通讯录管理/v16/Browse.VC.db-wal
通讯录管理/.vs/通讯录管理/v16/Browse.VC.opendb
通讯录管理/.vs/通讯录管理/v16/ipch/AutoPCH/3d47d7f2f9475dc5/源.ipch
通讯录管理/.vs/通讯录管理/v16/ipch/AutoPCH/4086880e3b4aa78/源.ipch
